<div class="sidebar-sticky">
    <h4 class="text-white p-3">Eduardo Ramos</h4>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="espacios">Nueva Reserva</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="nueva_reserva">Reserva Rapida</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="reservaprincipal/reservaempleadodetalle/1">Mis Reservas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#" data-toggle="collapse" data-target="#submenu-configuracion" role="button" aria-expanded="false" aria-controls="submenu-configuracion">
                Configuración
            </a>
            <ul class="nav flex-column collapse ml-3" id="submenu-configuracion">
                <li class="nav-item">
                    <a class="nav-link text-white" href="configuracion">Modificar datos</a>
                </li>                
            </ul>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Ayuda</a>
        </li>
    </ul>
</div>
