.profile-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #1A1A6B;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.image-upload {
    margin-bottom: 20px;
}

.car-image {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.btn-upload {
    margin-top: 10px;
    background-color: #1682DC;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.user-info {
    text-align: left;
}

.user-info p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-save {
    display: block;
    width: 100%;
    background-color: #E2893C;
    color: #FFF;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
