<nav class="navbar navbar-dark navbar-expand-lg fixed-top" id="mainNav" style="background-color: rgba(250, 250, 255,1); position: sticky;">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-md-2">
        <a class="navbar-brand" routerLink="./login">
          <img src="assets/img/entel.jpg" class="img-fluid" >
        </a>
      </div>
    </div>
      <!-- <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation" style="background-color: rgb(255,165,85);"><i class="fa fa-bars" style="color: rgba(255,255,255,0.75);"></i></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          
          <a class="btn btn-primary text-black-50 border-dark" role="button" routerLink="./login" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);">Acceder</a>
      </div> -->
  </div>
</nav>

<router-outlet></router-outlet>

<div class="footer-dark" style="padding: 0px; background-color: rgba(39, 39, 111, 1);  position:fixed; bottom:0; width: 100%; height: 110px;">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col item social">
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="icon ion-social-facebook"></i>
                </a>
                <a href="https://twitter.com/" target="_blank">
                  <i class="icon ion-social-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/" target="_blank">
                  <i class="icon ion-social-linkedin"></i>
                </a>
              </div>
          </div>
          <p class="copyright">Entel © 2024</p>
      </div>
  </footer>
</div>