<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar" >
            <div class="sidebar-sticky">
                <h4 class="text-white p-3">Eduardo Ramos</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="espacios">Nueva Reserva</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Reserva Rapida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Mis Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Configuración</a>
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Agregar Vehiculo</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Ayuda</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <div class="col-6 offset-2">
                    <div class="col-md-1">
                        <label class="card-text"> Desde:</label>                             
                        <input type="date" id="fechaInicio">
                    </div>
                    <div class="col-md-1">
                        <label class="card-text"> Hasta:</label>                             
                        <input type="date" id="fechaFin">
                    </div>
                    <div class="col-md-1">
                        <label> Estado:</label>                
                        <select class="form-control-sm" style="color: rgb(0,0,0);">
                            <option value="0">Todos</option>
                            <option value="1">Vigentes</option>
                            <option value="2">Concluidos</option>                        
                        </select>
                    </div>
                    
                </div>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Buscar</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="row col-md-12">                     
                    <app-reserva-empleado-tabla [reservasEmpleado]="reservasEmpleado"></app-reserva-empleado-tabla>
                </div>
            </div>
        </main>
    </div>
</div>