.sidebar {
    height: 100vh;
    position: fixed;
}

.sidebar-sticky {
    padding-top: 20px;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #ffffff;
}

.nav-item .nav-link:hover {
    color: #ffc107;
}

.card {
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

#chart-container1 {
    position: relative;
    height: 30vh;
    width: 500px;
    overflow: hidden;
  }

  #chart-container2 {
    position: relative;
    height: 40vh;
    width: 500px;
    overflow: hidden;
  }