<div class="container-fluid">
    <div class="row">
        <!-- Barra lateral -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar">
            <div class="sidebar-sticky">
                <h4 class="text-white p-3">Eduardo Ramos</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="nueva_reserva">Nueva Reserva</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Reserva Rapida</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Mis Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Configuración</a>
                        <ul class="nav flex-column ml-3">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Agregar Vehiculo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Agregar Vehiculo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Agregar Vehiculo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Agregar Vehiculo</a>
                            </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Ayuda</a>
                    </li>
                </ul>
            </div>
        </nav>  

        <!-- Contenido principal -->
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2>Luis Perez Diaz</h2>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-outline-secondary">Log out</button>
                    </div>
                </div>
            </div>

            <!-- Sección de detalles de perfil y plantillas -->
            <div class="row">
                <!-- Detalles de perfil -->
                <div class="col-md-6">
                    <div class="card">
                        <img src="assets/img/user-profile.jpg" 
                        alt="Profile Picture" 
                        style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover; margin: 10px auto; display: block;">
                        
                        <div class="card-body">
                            <h5 class="card-title">LUIS PEREZ DIAZ</h5>
                            <p class="card-text">Usuario creado: 2015-Feb</p>
                            <p class="card-text">Luis.perez&#64;entel.com</p>
                            <p class="card-text">+51 9175554545</p>
                            <button class="btn btn-sm btn-primary">Change Image</button>
                        </div>
                    </div>
                    
                </div>

                <!-- Sección de plantillas -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            Templates
                        </div>
                        <div class="card-body">
                            <p class="card-text">Templates uploaded by this user:</p>
                            <p class="text-muted">This user has not uploaded any template yet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
